<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.zhangxiong.fcb">

    <!-- 百度地图定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 短信验证 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!--
     数据库读取
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    -->
    <!-- SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 任务管理器 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>

    <!--
    远程连接数据库需要网络权限
    <uses-permission android:name="android.permission.INTERNET"/>
    -->
    <application
        android:name="com.mob.MobApplication"
        android:allowBackup="true"
        android:icon="@mipmap/qdflogo"
        android:label="清道夫"
        android:roundIcon="@mipmap/qdflogo"
        android:supportsRtl="true"
        android:theme="@style/NoTitle">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.cameraalbumtest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity android:name=".LoginActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".ForgetActivity">
        </activity>
        <activity android:name=".RegisterActivity">
        </activity>
        <activity android:name=".PersonalActivity">
        </activity>
        <activity android:name=".UpCarActivity">
        </activity>
        <activity android:name=".MyMapActivity">
        </activity>
        <activity
            android:name=".SelectPicPopupWindow"
            android:theme="@style/MyDialogStyleBottom">
        </activity>
        <activity android:name=".RecordActivity">
        </activity>
        <activity android:name=".AuditInfoActivity">
        </activity>
        <activity android:name=".StateActivity">
        </activity>
        <!-- 短信验证配置 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 通过AndroidManifest配置AppKey和AppSecret，如果你选择通过代码配置，则不需要配置以下meta-data -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="22ca269e29ba4"/>
        <meta-data
            android:name="Mob-AppSecret"
            android:value="62a565d246a089f4f5cc4715aef18e95"/>
        <!-- 百度地图配置 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="MlYS8BmewG8XXX3c1rMnEg9p9y3mReZu">
        </meta-data>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>

        <activity android:name=".IdearActivity">
        </activity>
        <activity android:name=".AboutusActivity">
        </activity>
        <activity
            android:name=".IntroduceActivity"
            android:theme="@android:style/Theme.Panel"/>
    </application>

</manifest>